[Unit]
Description=Wiim
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=33
StartLimitBurst=5

[Service]
ExecStart=/home/pi/wiim/wiim.py
WorkingDirectory=/home/pi/wiim
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target

